body {
    position: relative;
}

.con {
    top: 0px;
    left: 0px;
    width: 970px;
    height: 1080px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 90px !important;
    margin-right: 90px !important;
    position: absolute
}


.header {
    height: 76px;
    width: 100%;
    background: #ffffff;
    border-bottom: 0.5px solid #A38F85;
    opacity : 1px;
    /* border: 1px solid; */
    /* border-color: black; */
}

.textSet {
    text-align: center;
    line-height: 60px;
}

.logo {
    position: absolute;
    top: 19px;
    left: 76px;
    width: 180px;
    height: 67px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: var(--unnamed-color-ede9e3) 0% 0% no-repeat padding-box;
    /* background: #EDE9E3 0% 0% no-repeat padding-box; */
    opacity: 1;
    text-align: center;
    line-height: 60px;

}


.leftSelect {
    margin-top: 60px;
}

.search {
    position: absolute;
    top: 157px;
    left: 76px;
    width: 360px;
    height: 60px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: var(--unnamed-color-e7d7c9) 0% 0% no-repeat padding-box;
    background: #E7D7C9 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    /* UI Properties */
    color: var(--unnamed-color-a38f85);
    text-align: center;
    font: normal normal normal 20px/24px Noto Sans KR;
    letter-spacing: 0px;
    color: #A38F85;
    line-height: 60px;

}

.group {
    position:absolute;
    top:0px;
    left:0px;
}

.apt {
    position: absolute;
    top: 268px;
    left: 84px;
    width: 345px;
    height: 60px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: var(--unnamed-color-d4b2a7) 0% 0% no-repeat padding-box;
    background: #D4B2A7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;

    /* UI Properties */

    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 22px/26px Noto Sans KR;
    letter-spacing: 0px;
    color: #FFFFFF;
    line-height: 60px;
    text-align: center;

}


.selectBuild {
    position: absolute;
    /* Layout Properties */
    top: 353px;
    left: 84px;
    width: 155px;
    height: 60px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    /* UI Properties */
    border: 3px solid var(--unnamed-color-e7d7c9);
    border: 3px solid #E7D7C9;
    border-radius: 10px;
    opacity: 1;
    line-height: 60px;
    text-align: center;

}

.selectBuild2 {
    position: absolute;
    /* Layout Properties */
    top: 353px;
    left: 274px;
    width: 155px;
    height: 63px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    /* UI Properties */
    border: 3px solid var(--unnamed-color-e7d7c9);
    border: 3px solid #E7D7C9;
    border-radius: 10px;
    opacity: 1;
    line-height: 60px;
    text-align: center;

}

.typeText {
    position: absolute;
    /* Layout Properties */
    top: 468px;
    left: 84px;
    width: 80px;
    height: 24px;

    /* UI Properties */
    text-align: left;
    font: normal normal normal 20px/24px Noto Sans KR;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.inner {
    color: #A38F85;
    text-align: center;
    line-height: 55px;
}

.inner1 {
    position: absolute;
    /* Layout Properties */
    top: 505px;
    left: 76px;
    width: 110px;
    height: 60px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    /* UI Properties */
    border: 3px solid var(--unnamed-color-e7d7c9);
    border: 3px solid #E7D7C9;
    border-radius: 10px;
    opacity: 1;

}

.inner2 {
    position: absolute;
    /* Layout Properties */
    top: 505px;
    left: 201px;
    width: 110px;
    height: 60px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    /* UI Properties */
    background: var(--unnamed-color-d4b2a7) 0% 0% no-repeat padding-box;
    background: #D4B2A7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    color:#fff;
    text-align: center;
    line-height: 60px;
    font-weight: 600;
}

.inner3 {
    position: absolute;
    /* Layout Properties */
    top: 505px;
    left: 326px;
    width: 110px;
    height: 60px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    /* UI Properties */
    border: 3px solid var(--unnamed-color-e7d7c9);
    border: 3px solid #E7D7C9;
    border-radius: 10px;
    opacity: 1;
}


.sido {
    position: absolute;   
    width: 80px;
    height: 30px;
    /* UI Properties */
    color: var(--unnamed-color-614d43);
    font-size: 15px;
    /* font: normal normal normal 20px Noto Sans KR; */
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background-color: #D4B2A7;
    border: none;
}


.sido1 {   
    top: 620px;
    left: 76px;
}

.sido2 {   
    top: 620px;
    left: 171px;    
}

.sido3 {   
    top: 620px;
    left: 272px;
}

.sido4 {   
    top: 620px;
    left: 367px;
}


.typeText2{
    position: absolute;
    /* Layout Properties */
    top: 712px;
    left: 84px;
    width: 80px;
    height: 24px;
    /* UI Properties */
    color: var(--unnamed-color-614d43);
    text-align: left;
    font: normal normal normal 20px/24px Noto Sans KR;
    letter-spacing: 0px;
    color: #614D43;
    opacity: 1;
}

.range {
    position: absolute;
    /* Layout Properties */
    width: 358px;
    top: 765px;
    left: 76px;
}

.form-range {
    accent-color: #D4B2A7;
}

.typeText3 {
    position: absolute;
    /* Layout Properties */
    top: 942px;
    left: 76px;
    width: 60px;
    height: 19px;
    /* UI Properties */
    color: var(--unnamed-color-a38f85);
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 15px/18px Noto Sans KR;
    letter-spacing: 0px;
    color: #A38F85;
    opacity: 1;
}

.searchBtn { 
    position: absolute;
    /* Layout Properties */
    top: 970px;
    left: 76px;
    width: 360px;
    height: 60px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    /* UI Properties */
    background: var(--unnamed-color-e7d7c9) 0% 0% no-repeat padding-box;
    background: #E7D7C9 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
   
}